
.nav1{
  border-radius: 0px; /*Removes curved edges of navbar*/
  margin-bottom: 0px;
}
/*.logo img{
  width: 100%;
}*/
.logo {
    display: block;
    margin-left: 500px;
    margin-right: auto;
   }

.car h1{
  text-align: center;
}
/*This is for the scrolling icons on the carousel*/
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
.car-type{
  text-align: center;
  font-size: 15px;
  margin-top: 150px;
  margin-bottom: 50px;
}
.cars{
  max-height: 430px;


}
.cars img{
  max-height: 100%;
}
#display{
  display: none;
}
#display1{
  display: none;
}
#display2{
  display: none;
}

.toyota, .bmw, .mercedes h1{
  text-align: center;
}
.toyota,.bmw,.mercedes{
  margin-top: 100px;
}
.fun {
margin-left:240px;
margin-top: 2px;

}
.about{
margin-top: 50px;
text-align:justify;
}

.contact{
	text-align:center ;
}

.contact h2,.about h2{
  text-align: center;
}

li{
  list-style: none;
}
.navbar{
  border-radius: 0px;
}
.footer{
	color: white;
  font-size: 12px;
  text-align: center;