
.navbar{
  border-radius: 0px; /*Removes curved edges of navbar*/
}
.logo img{
  width: 100%;
}
.logo{
  border-bottom: 10px;
}
.car h1{
  text-align: center;
}
/*This is for the scrolling icons on the carousel*/
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
.car-type{
  text-align: center;
  font-size: 15px;
}
.car{
  height: 450px;
  width: 1000px;
}

.cars img{
  max-height: 100%;
}
.toyota, .bmw, .mercedes h1{
  text-align: center;
}
.about{
text-align:justify;
}

.contact{
	text-align:center ;
}

.contact h2,.about h2{
  text-align: center;
}

li{
  list-style: none;
}
.navbar{
  border-radius: 0px;
}
.footer{
	color: white;
  font-size: 12px;
  text-align: center;
}
