
.navbar{
  border-radius: 0px; /*Removes curved edges of navbar*/
}
.logo img{
  width: 100%;
}

.car h1{
  text-align: center;
}
/*This is for the scrolling icons on the carousel*/
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
.car-type{
  text-align: center;
  font-size: 15px;
}
.carousel-inner img{


}
.cars{
  max-height: 630px;

}
.cars img{
  max-height: 100%;
}
